*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#0f172a;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo a{
    text-decoration:none;
    color:#38bdf8;
    font-size:28px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:.3s;
}

.nav-links a:hover{
    color:#38bdf8;
}

.active{
    color:#38bdf8 !important;
    border-bottom:2px solid #38bdf8;
    padding-bottom:5px;
}

.menu-icon{
    display:none;
    color:white;
    font-size:28px;
    cursor:pointer;
}

@media (max-width: 768px){

    .menu-icon{
        display: block;
        color: white;
        font-size: 28px;
        cursor: pointer;
        z-index: 1101;
    }

    .nav-links{
        position: absolute;
        top: 70px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 70px);
        background: #0f172a;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        transition: 0.3s ease-in-out;
    }

    .active-menu{
        left: 0;
    }

    .nav-links a{
        font-size: 22px;
    }
}