.projects{
    padding:80px 10%;
    background:#0f172a;
    color:white;
    text-align:center;
}

.projects h2{
    font-size:40px;
    margin-bottom:10px;
}

.subtitle{
    color:#94a3b8;
    margin-bottom:40px;
}

.projects-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.project-card{
    background:#1e293b;
    padding:25px;
    border-radius:12px;
    transition:.3s;
    box-shadow:0 5px 15px rgba(0,0,0,.3);
}

.project-card:hover{
    transform:translateY(-10px);
    background:#334155;
}

.project-card h3{
    margin-bottom:10px;
    color:#38bdf8;
}

.project-card p{
    color:#cbd5e1;
    margin-bottom:15px;
    line-height:1.6;
}

.tech{
    display:inline-block;
    margin-bottom:15px;
    font-size:14px;
    color:#94a3b8;
}

.project-links{
    display:flex;
    justify-content:space-between;
    margin-top:15px;
}

.project-links a{
    text-decoration:none;
    color:white;
    background:#0ea5e9;
    padding:8px 14px;
    border-radius:6px;
    transition:.3s;
}

.project-links a:hover{
    background:#0284c7;
}